<nav id="my_nav">
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "About", about_path %></li>
    <li><a href="#">Contact</a></li>
  </ul>
  <%= image_tag "nav/close-white.svg", class: "nav-icon" %>
</nav>