<nav id="my_nav">
  <ul>
    <li><%= link_to "Home", root_path, class: "nav_el" %></li>
    <li><%= link_to "About", about_path, class: "nav_el" %></li>
    <li><%= link_to "Contact", new_signup_path, class: "nav_el" %></li>
  </ul>
</nav>