<main class="about">
<%= image_tag "nav/menu-white.svg", class: "nav icon" %>
  <div class="container">
    <div class="content content col-md-8 col-md-offset-2">
      <h1>Relive your favorite memories</h1>
    </div>
  </div>
</main>

<div class="supporting supporting-about">
  <div class="container">
    <h2>No more sorting through photos</h2>
    <p>Stories automatically finds your best photos and creates a new travelogue. This way you can capture and share your special moments in fresh new ways.
  Sign up
  </p>
    <%= link_to "Sign up", new_signup_path, class: "btn btn-primary" %>
  </div>
</div>