<%= render "nav" %>

<main>
  <%= image_tag "nav/menu-white.svg", class: "nav-icon" %>
  <div class="container">
    <div class="content col-md-6 col-md-offset-6">
      <h1>Create and share Stories</h1>
      <div class="btn btn-primary">
        <a href="#">Learn more</a>
      </div>
    </div>
  </div>
</main>

<div class="supporting">
  <div class="container">
    <h2>Relive and share your adventures</h2>
    <p>Stories automatically creates a digital journal filled with only your best photos.</p>
  </div>
</div>

<div class="secondary">
  <div class="container">
  </div>
</div>

<div class="discover">
  <div class="container">
    <h2>Discover Stories</h2>
    <div class="btn btn-primary">
      <a href="#">Learn more</a>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="pull-right">
      <p>&copy; Wolfgang</p>
    </div>
  </div>
</footer>